src/main/resources/data/client.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="client">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="first_name"/>
        <xs:element type="xs:string" name="last_name"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="company"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>